body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: blue;
}
header h2 {
  color: #CEC8FF;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5,#60106B);
  color: white;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;

}

.navbar {
  background-color: #901CAD;
}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

.site-footer {
  background-image: linear-gradient(180deg, black, darkred);
  padding: 20px 0;
  color: white; 
  height: 30vh;
}

.madeby {
  font-size: .75rem;
  height: fit-content;
  width: auto;
  margin-top: 75px;
}

.btn-youtube {
  background-color: white;
}


* {
  box-sizing: border-box;
}

.ssimg {
  vertical-align: middle;
  max-height: 400px;
}

.btnStyle {
  width: 120px;
  margin: 34px 0px 0px 100px;
}

/* Position the image container (needed to position the left and right arrows) */
.sscontainer {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.ssrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.sscolumn {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.home-col {
  margin: 0;
}

.adform {
  display: inline-flex;
  max-width: 60%;
}

@media(max-width: 600px) {
  .adform {
    max-width: 60%;
    display: block;
  }
}

